
  .container {
    padding: 20px 175px; /*this should be deleted for xs*/
  }
  
  .col, .white{
      width: 100%;
      height: 12.5vh; /*q vh is equal to 1% of heigth of the browser window. 100%/8 =12.5%*/
      border: 0.5px solid black;
  }

  .col {
      background-color: black;
  }

  .white {
      background-color: white;
  }